---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="__ARTICLE_TITLE__" description="__ARTICLE_DESCRIPTION__" path="/articles">
  <div data-dynamic-article-content></div>
</BaseLayout>
